<div class="container">
  <h1>Edit a Flat:</h1>
  <div class="form">
    <%= render "form", flat: @flat %>
  </div>
  <span id="back"><%= link_to "Back to flats", flats_path,class:'back' %></span>
</div>
