<div class="container">
  <h1>Create a flat:</h1>
  <div class="form">
    <%= render "form", flat: @flat %>
  </div>
  <div class=buttons>
  <span id="back"><%= link_to "Back to flats", flats_path ,class:'back'%></span>
  </div>
</div>
